<section>
  <div class="page-header">
    <h1>Deliveryuk charges</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="deliveryuk-charge in vm.deliveryukCharges"
       ui-sref="deliveryukCharges.view({ deliveryuk-chargeId: deliveryuk-charge._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="deliveryukCharge.created | date:'mediumDate'"></span>
        by
        <span ng-if="deliveryukCharge.user" ng-bind="deliveryukCharge.user.displayName"></span>
        <span ng-if="!deliveryukCharge.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="deliveryuk-charge.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.deliveryukCharges.$resolved && !vm.deliveryukCharges.length">
    No Deliveryuk charges yet, why don't you <a ui-sref="deliveryukCharges.create">create one</a>?
  </div>
</section>
