<section>
  <div class="page-header">
    <h1>Mailers</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="mailer in vm.mailers"
       ui-sref="mailers.view({ mailerId: mailer._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="mailer.created | date:'mediumDate'"></span>
        by
        <span ng-if="mailer.user" ng-bind="mailer.user.displayName"></span>
        <span ng-if="!mailer.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="mailer.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.mailers.$resolved && !vm.mailers.length">
    No Mailers yet, why don't you <a ui-sref="mailers.create">create one</a>?
  </div>
</section>
